body {
  align-self: center;
}
.container {
  width: 1080px;
  align-content: center;
  background-color: white;
  border-style: solid 3px #DDDDDD;
  display: 
}

#top-bar {
  height: 145px;
  background-image: url(images/top-bar.png);
}
 #follower-count {
  height: 355px ;
  background-image: url(images/follower-count.png);
 }

#profile-picture {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 255px;
  width: 255px;
  margin-top: 53px;
  margin-left: 58px;
}

#photo-bar {
  height: 140px;
  background-image: url(images/photo-bar.png); 
}

#bottom-bar {
  height: 135px;
  background-image:url(images/bottom-bar.png); 

}

.ig-img {
  color: darkblue;
  width: 32%;
  display: inline-block;
  height: 300px;
}
 #username {
  text-align: center;
 }